<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <h2>Agregar acceso</h2>
            <form action="/actualizar/{{users.id_user}}/" method="POST">
            
            <ul class="list-group">
              {{#each dashboard}}
      
                <li class="list-group-item"><button class="btn btn-success" type="submit" name="usuario" id="usuario" value="{{id_dashboard}}">{{title}}</button>
                <form style="display: inline-block; text-align: center;" class="form-inline md-form form-sm mt-0" action="/links/tablero" method="POST">
                  <a href="javascript:;" onclick="parentNode.submit();">ver</a>
                  <input type="hidden" name="url" value={{id_tablero}}/>
                </form>
                </li>
                
              {{/each}}
            </ul>
            
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <h2>quitar acceso</h2>
            <form action="/eliminar/{{users.id_user}}/" method="POST">
            <ul class="list-group">
              {{#each dash_user}}
                <li class="list-group-item"><button class="btn btn-danger" type="submit" name="dashboard" id="dashboard" value="{{id_dashboard}}">{{title}}</button><a href="/liks/tablero/{{id_tablero}}">ver</a></li>
              {{/each}}
            </ul>
            </form>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header">
                    <img src="../img/logo.png" alt="logo RUV" class="card-img mx-auto m-2 rounded-square w-50">   
                </div>
                <h3 class="p-4">Editar Usuario</h3>
                
                <div class="card-body">
                    <form action="/edituser/{{users.id_user}}" method="POST">
                        <div class="form-group">
                          {{!--<label for="">Titulo</label>--}}
                          <input type="text" value="{{users.name}}" name="name" id="name" class="form-control" aria-describedby="helpId" autofocus>
                          <small id="helpId" class="text-muted">Nombre</small>
                        </div>

                        <div class="form-group">
                          {{!--<label for="">URL</label>--}}
                          <input type="text" value="{{users.surname}}" name="surname" id="surname" class="form-control" aria-describedby="helpIdURL">
                          <small id="helpIdURL" class="text-muted">Apellido</small>
                        </div>

                         <div class="form-group">
                          {{!--<label for="">URL</label>--}}
                          <input type="text" value="{{users.username}}" name="username" id="username" class="form-control" aria-describedby="helpIdURL">
                          <small id="helpId" class="text-muted">Nombre de usuario</small>
                        </div>

                        <div class="form-group">
                          {{!--<label for="">URL</label>--}}
                          <input type="text" value="{{users.phone}}" name="phone" id="phone" class="form-control" aria-describedby="helpIdURL">
                          <small id="helpId" class="text-muted">Telefono</small>
                        </div>

                        <div class="form-group">
                          {{!--<label for="">URL</label>--}}
                          <input type="text" value="{{users.email}}" name="email" id="email" class="form-control" aria-describedby="helpIdURL">
                          <small id="helpId" class="text-muted">Email</small>
                        </div>


                        <div class="form-group">
                          {{!--<label for="">URL</label>--}}
                          <input type="number" value="{{users.level_users}}" name="level_users" id="level_users" class="form-control" aria-describedby="helpIdURL">
                          <small id="helpIdURL" class="text-muted">Nivel de acceso</small>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>